# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# Keep out directory for GitHub Pages (but ignore in git)
# /out is needed for deployment but shouldn't be committed

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# github
.github/workflows/*.log

# typescript
*.tsbuildinfo
next-env.d.ts

